extends layouts/default

block append styles

block append scripts

block content
	.hero
		include assets/images/rocket.svg
		h1
			span.blinken blinken
			span.rocket rocket
			
	.info
		h2 Bla Bla Bla my stuff blabla
	.links
		a(href='#').editor
			.fa.fa-wrench
			| Editor
		a(href='#').manual
			.fa.fa-book
			| Anleitung
	.contact
		
		a(href='mail-to:info@blinkenrocket.de')
			.fa.fa-envelope-o
			| info@blinkenrocket.de
		
