{% extends "layout.html" %}

{% block menu %}
<nav class="menu">
    <a href="index.html">deutsch</a>
</nav>
{% endblock %}

{% block body %}
<div class="hero">
    {{logo}}
    <h1>
        <span class="blinken">blinken</span>
        <span class="rocket">rocket</span>
    </h1>
</div>
<div class="info">
    <h2>About Blinkenrocket</h2>
    <p>The Blinkenrocket is a soldering kit that was developed especially for kids and young adults. Components of varying complexity will teach you how to solder in no time.</p>
    <p>The really interesting part about the Blinkenrocket is it's programmable interface over <strong>audio</strong>. Texts and animations are simply created and transfered from your mobile, tablet or computer directly from this website. A 64 led dot-matrix display enables a variety of of display options. External pins on the sides allow for physical extendability of the Blinkenrocket</p>
    <p>Are you interested in holding a soldering workshop yourself utilizing the blinkenrocket? Just send us an email!</p>
    <p>Kits are available on the hackerspaceshop.com</p>
</div>

<div class="links">
    <a href="{{editor_link}}" class="odd"><div class="fa fa-wrench"></div>Editor</a>
    <a href="{{manual_link}}" class="even"><div class="fa fa-book"></div>Manual</a>
    <a href="{{tutorial_link}}" class="odd"><div class="fa fa-magic"></div>Tutorial</a>
    <a href="{{shop_link}}" class="even"><div class="fa fa-money"></div>Buy</a>
    <a href="sponsors.html" class="odd"><div class="fa fa-star"></div>Sponsors</a>
</div>
<div class="contact">
    <a href="mailto:{{email}}"><div class="fa fa-envelope-o"></div>{{email}}</a>
</div>

<div class="legal-link">
    <a href="legal.html">Legal Notice</a>
</div>
{% endblock %}
