{% extends "layout.html" %}

{% block menu %}
<nav class="menu">
    <a href="index.en.html">english</a>
</nav>
{% endblock %}

{% block body %}

<div class="hero">
    {{logo}}
    <h1>
        <span class="blinken">blinken</span>
        <span class="rocket">rocket</span>
    </h1>
</div>

<div class="info">
    <h2>Über Blinken&shy;Rocket</h2>
    <p>BlinkenRocket ist ein Lötlern-Bausatz der speziell für Kinder, Jugendliche und junge Erwachsene entwickelt wurde. Mit Komponenten verschiedener Schwierigkeitsgeraden wird umfangreiches Lötwissen in kürzester Zeit vermittelt.</p>
    <p>Technisch begeistert BlinkenRocket durch die einfache Programmierung über ein Audio Interface. Texte und Animationen können einfach, ohne besondere Programmieradapter per Smartphone, Computer oder MP3-Player aufgespielt werden. 64 Leuchtdioden im Dot-Matrix Display ermöglichen viele Darstellungsmöglichkeiten. Erweiterungs-Pins an der Seite ermöglichen die Erweiterung der BlinkenRocket.</p>
    <p>Lust selbst eine BlinkenRocket zu löten oder einen Workshop zu halten? Schreib uns einfach eine Mail!</p>
</div>

<div class="links">
    <a href="{{editor_link}}" class="odd"><div class="fa fa-wrench"></div>Editor</a>
    <a href="{{manual_link}}" class="even"><div class="fa fa-book"></div>Anleitung</a>
    <a href="{{tutorial_link}}" class="odd"><div class="fa fa-magic"></div>Tutorial</a>
    <a href="{{shop_link}}" class="even"><div class="fa fa-money"></div>Kaufen</a>
    <a href="sponsors.html" class="odd"><div class="fa fa-star"></div>Sponsoren</a>
</div>

<div class="contact">
    <a href="mailto:{{email}}"><div class="fa fa-envelope-o"></div>{{email}}</a>
</div>

<div class="legal-link">
    <a href="legal.html">Impressum</a>
</div>
{% endblock %}
