extends layouts/default

block append styles

block append scripts

block content
	.hero
		include assets/images/rocket.svg
		h1
			span.blinken blinken
			span.rocket rocket
			
	.info
		h2 Über Blinken&shy;Rocket
		:markdown
			BlinkenRocket ist ein Lötlern-Bausatz der speziell für Kinder, Jugendliche und junge Erwachsene entwickelt wurde. Mit Komponenten verschiedener Schwierigkeitsgeraden wird umfangreiches Lötwissen in kürzester Zeit vermittelt.

			Technisch begeistert BlinkenRocket durch die einfache Programmierung über ein Audio Interface. Texte und Animationen können einfach, ohne besondere Programmieradapter per Smartphone, Computer oder MP3-Player aufgespielt werden. 64 Leuchtdioden im Dot-Matrix Display ermöglichen viele Darstellungsmöglichkeiten. Erweiterungs-Pins an der Seite ermöglichen die Erweiterung der BlinkenRocket.

			Lust selbst eine BlinkenRocket zu löten oder einen Workshop zu halten? Schreib uns einfach eine Mail!
			
	.links

		a(href='webedit-react/').editor
			.fa.fa-wrench
			| Editor
		a(href='https://github.com/blinkenrocket/documentation/raw/master/manual/manual.pdf').manual
			.fa.fa-book
			| Anleitung

	.contact
		
		a(href='mail-to:info@blinkenrocket.de')
			.fa.fa-envelope-o
			| info@blinkenrocket.de
		
