{% extends "layout.html" %}

{% block title %} - Sponsoren{% endblock %}

{% block menu %}
<nav class="menu">
    <a href="index.html">home</a>
</nav>
{% endblock %}


{% block body %}
<div class="sponsors">
    <h2>Sponsoren</h2>
    <p>Die Blinkenrocket wäre ohne Unterstützung durch viele verschiedene Menschen nicht möglich. Ganz besonders wollen wir uns bei unseren Sponsoren bedanken!</p>
</div>
<div class="sponsor-list">
    <div class="sponsor odd">
        <img src="images/ersa.png">
        <a href="http://www.kurtzersa.de/">kurtz ersa</a>
        <p>ERSA hat Lötstationen zur Verfügung gestellt. Vielen Dank!</p>
    </div>
    <div class="sponsor even">
        <img src="images/linx.png">
        <a href="https://linxtechnologies.com">LINX Technologies</a>
        <p>LINX hat die Batteriehalter des Kits zur Verfügung gestellt. Danke dafür!</p>
    </div>
    <div class="sponsor odd">
        <img src="images/ccc.svg">
        <a href="https://ccc.de">Chaos Computer Club</a>
        <p>Danke für Alles, lieber CCC!</p>
    </div>
    <div class="sponsor even">
        <img src="images/shack.svg">
        <a href="https://shackspace.de">Shackspace</a>
        <p>Der Stuttgarter Hackerspace</p>
    </div>
    <div class="sponsor odd">
        <img src="images/metalab.svg">
        <a href="https://metalab.at">metalab</a>
        <p>Der Wiener Hackerspace</p>
    </div>
    <div class="sponsor even">
        <img src="images/chaosd.png">
        <a href="https://chaosdorf.de/">Chaosdorf</a>
        <p>Der Düsseldorfer Hackerspace</p>
    </div>
</div>
{% endblock %}
