// ---------------
// Global Settings
// ---------------
@import './_material-color'

// Font stacks (add your own!)
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
// Default font settings
font-stack = 'Roboto'
$font-size = 16
$font-color = clr-white

$font-stack = font-stack


// Colors (via http://clrs.cc - slightly modded)
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #6C0 //#2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #C20 //#D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #222222


navbar-background-color = #FFF

background-color = #FFF

rupture.scale = 0 480px 768px 992px 1200px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

typography()
	bold-italic()
	headers()
	lists()
	text-selection()

	p
		paragraph()

	small
		small()

	blockquote
		blockquo()

	.hyphenation
		hyphenation()
